
<!doctype html>
<html lang="en">
  <head>

    <title>Codedschools.ng</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/custom.css">
  </head>

  <body>



    <main role="main">
      <% include ./partials/navbar %>



        <%- body -%>


      <% include ./partials/footer %>


    <% include ./partials/javascriptOnly %>
    </main>



    <!-- Bootstrap core JavaScript
    ================================================== -->

  </body>
</html>
