<div class="d-flex flex-row">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark d-flex flex-row">
    <a class="navbar-brand" href="#">Codedschools.ng</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse d-flex flex-row" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
          <% if(!user){%>
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="d-flex justify-content-between">
              
              <% for(var i = 0; i < categories.length; i++){%>
                <a href="/products/<%=categories[i]._id%>" class="nav-link"><%= categories[i].name%></a>
              <%}%>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">New User</a>
            </li>
          <%}else{%>
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <% for(var i = 0; i < categories.length; i++){%>
              <a class="nav-link"><%= categories[i].name%></a>
            <%}%>
              <a class="nav-link" href="#"><%=user.profile.firstname + user.profile.lastname %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">logout</a>
            </li>
        <%}%>
      </ul>

    </div>
    
  </nav>
  <form class="navbar-form navbar-left" method="post" action="/search">
      <div class="form-inline">
        <input type="text" name="q" class="form-control" placeholder="Enter your search...">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
  </form>

</div>